@import '~bootstrap/scss/bootstrap';

body {
  background-color: #7FFFD4;
}

h1 {
    text-align: center;
}
.col-4 {
  height: 200px;
  font-size: 150px;
  text-align: center;
}

.col-6 {
  text-align: center;
}

#c1 {
  border-right-style: solid;
  border-bottom-style: solid;
}
#c3 {
  border-left-style: solid;
  border-bottom-style: solid;
}
#c5 {
  border-style: solid;
}
#c7 {
  border-top-style: solid;
  border-right-style: solid;
}
#c9 {
  border-top-style: solid;
  border-left-style: solid;
}
